* {
    box-sizing: border-box;
  }

body {
    background-color: rgb(2, 2, 2);
    display:flex;
    justify-content: center;
    text-align: center; 
    font-family: sans-serif;
    
}
 
/* ================================================================================ */

.game-container{
    height: 100vh;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

@keyframes game {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: rgb(241, 21, 223);}
    100% {color: green;}
  }

.heading{
    color: white;
    font-size: 30px;
    animation-name: game;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 25;
}
.status-action{
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
    margin-bottom: 25px;
    margin-top: 25px;
    width: 600px;
}

.status1{
    
    justify-content: flex-start;
    font-size: 15px;
}

#status2{
    
    justify-content: flex-start;
    font-size: 25px;
    color: rgb(255, 0, 0);
}
#restart{
    cursor: pointer;
    justify-content: flex-end;
    font-size: 20px;
    color: rgb(6, 243, 65);
}
#restart:hover{
    background-color: rgb(8, 8, 8);
}

.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 2fr);
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 50px 50px;
    background-color: rgb(4, 102, 248);
    text-align: center; 
 
}

.game-cell{
    background: rgb(247, 245, 245);
    cursor: pointer;
    height: 100px;
    width: 100px;
    
}

.playerX {
    background-image : url(images/cross.png);
    background-position: center;
    background-size: cover; 
    max-width: 100%;
    background-color: rgb(255, 47, 227);
    
}
.playerO {
    background-image : url(images/circle.png);
    background-position: center;
    background-size: cover; 
    max-width: 100%;
    background-color: yellow;
}


