body {
    background-color: rgb(2, 2, 2);
    display:flex;
    justify-content: center;
    text-align: center; 
    font-family: sans-serif;
    
}
 
/* ================================================================================ */

.game-container{
    height: 100vh;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.heading{
    color: white;
    font-size: 30px;
}
.status-action{
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
    margin-bottom: 25px;
    margin-top: 25px;
    width: 600px;
}
.status:hover{
    background-color: grey;
}
.status1{
    
    justify-content: flex-start;
    font-size: 15px;
}

#status2{
    
    justify-content: flex-start;
    font-size: 15px;
}
#restart{
    cursor: pointer;
    justify-content: flex-end;
    font-size: 15px;
    
}
#restart:hover{
    background-color: rgb(7, 245, 106);
}


/*.game-canvas{
    text-align: center; 
    
}*/

.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 50px 50px;
    background-color: rgb(75, 73, 73);
    text-align: center; 
    
}

.game-cell{
    background: rgb(247, 245, 245);
    cursor: pointer;
    height: 100px;
    width: 100px;
    color: rgb(8, 8, 8);
}

.playerX {
    background-image : url(images/cross.png);
    background-position: center;
    background-size: cover; 
    width: 100%;
}
.playerO {
    background-image : url(images/circle.png);
    background-position: center;
    background-size: cover; 
    width: 100%;
}

/*
#game-cell0,#game-cell1,#game-cell2,#game-cell3,#game-cell4,#game-cell5,#game-cell6,#game-cell7,#game-cell8{
    border : 2px solid white;
    height: 100px;
    width : 100px;
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 80px;
    color: white;

} 

#game-cell0,#game-cell3,#game-cell6{
    clear: left;
    border-left: none;
} 
#game-cell0,#game-cell1,#game-cell2{
    border-top: none;  
}
#game-cell2,#game-cell5,#game-cell8{
    border-right: none;  
}
#game-cell6,#game-cell7,#game-cell8{
    border-bottom: none;  
}*/